{% extends '../base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}


<!-- Page Header Start !-->
  <div class="page-breadcrumb-sec page-bg style-two" style="background-image: url( {% static 'images/covers/bristol-hotel-kaduna.jpg' %});
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;">
    <div class="page-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb-wrapper style-two">
            <div class="breadcrumb-list">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="#">about us</a></li>
              </ul>
            </div>
            <div class="page-heading">
              <h1>About us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End !-->

  <!-- About-us section Start !-->
  <div class="about-us-area style-1 bg-white">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between">
        <div class="col-12">
          <div class="info-card-wrapper">
            <div class="content-wrapper">
              <div class="section-title">
                <span class="sub-title sub-title-style-two">About Us</span>
                <h1 class="title">
                Who We Are.
                </h1>
                <p class="title-desc">
                 Central Contractors Limited delivers a full design and building construction service. With our in-house architectural team working alongside our building experts, we can produce creative, workable, cost-effective designs that fit your requirements and budget. We are experienced in making successful planning applications.
                </p>

                <p>
                 We are constantly evolving total solutions to deliver projects in several areas of Architecture,Enginnering and General Contracts by way of , construction, project management, realty, production and supplies whilst ensuring quality services, effectve pricing and timely delivery.
                </p>

                <p>The benefits of this integrated approach are clear: you have a seamless transition from design to construction and all the many elements of a building project are considered and coordinated by just one team.
                </p>

              </div>
              <div class="list">
                <div class="row">
                  <div class="col-10 col-md-6">
                    <div class="item">
                        <span class="icon">
                          <i class="bi bi-check2" style="color: #4566d4"></i>
                        </span>
                      <span class="item-text">Architecture</span>
                    </div>
                  </div>
                  <div class="col-10 col-md-6">
                    <div class="item">
                        <span class="icon">
                          <i class="bi bi-check2" style="color: #4566d4"></i>
                        </span>
                      <span class="item-text">Infrastructure</span>
                    </div>
                  </div>
                  <div class="col-10 col-md-6">
                    <div class="item">
                        <span class="icon">
                          <i class="bi bi-check2" style="color: #4566d4"></i>
                        </span>
                      <span class="item-text">Water Reticulation</span>
                    </div>
                  </div>
                  <div class="col-10 col-md-6">
                    <div class="item">
                        <span class="icon">
                           <i class="bi bi-check2" style="color: #4566d4"></i>
                        </span>
                      <span class="item-text">Concrete Elements</span>
                    </div>
                  </div>
                </div>
                <div class="about-btn">
                  <a href="#" tabindex="0" class="theme-btn">About Us</a>
                </div>
              </div>
            </div>
            <!-- image start -->
            <div class="image-wrapper">
              <div class="main-img">
                <img src="{% static 'images/terrace-mpape2.jpg' %}" alt="about" />
              </div>
              <div class="topper-img">
                <div class="position-relative">
                  <img src="{% static 'images/covers/masarki2.jpg' %}" alt="about" />
                  <div class="video-btn">
                    <a href="#" class="mfp-iframe video-play">
                      <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- image end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About-us section End !-->


   <!-- Service section Start !-->
  <div class="service-area style-2 background-gray">
    <div class="service-bg">
      <img src="{% static 'images/service-bg.png' %}" alt="service" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- service background image start -->

          <!-- service background image end -->

          <!-- service card start -->
          <div class="row mt-25 gy-4">
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="info-card style-four">
                <div class="icon"><i class="bi bi-eye"></i></div>
                <div class="content">
                  <h3 class="title">Our Vision</h3>
                  <p class="text">
                   At CCL, We seek to be the gold standard in architectural consultancy, shaping skylines globally while empowering communities with homes that define value, innovation, and sustainability.
                  </p>
                  <div class="read-more">
                    <a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
              <div class="info-card style-four">
                <div class="icon"><i class="bi bi-check2-circle"></i></div>
                <div class="content">
                  <h3 class="title">Mission</h3>
                  <p class="text">
                   To commit ourselves to the pursuit of architectural and design excellence. Through our indigenous expertise, we aim to deliver innovative, value-added homes and consultancy services that meet international benchmarks.
                  </p>
                  <div class="read-more">
                    <a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="info-card style-four">
                <div class="icon"><i class="bi bi-hand-thumbs-up"></i></div>
                <div class="content">
                  <h3 class="title">Core Values</h3>
                  <p class="text">
                    Upholding the highest standards of honesty and transparency in all our dealings and designs.Continually evolving and embracing cutting-edge technologies and methodologies to bring our clients the best in architectural solutions.
                  </p>
                  <div class="read-more">
                    <a href="#">Learn More <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- service card end -->

          <div class="mt-30 text-center">
            <a href="#" tabindex="0" class="theme-btn">View All Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service section End !-->

<!-- Client section start -->
    <div class="brand-slider-area style-1 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="client-slider-wrapper">
              <div class="client-img">
                <img src="{% static 'images/partners/3.png' %}" alt="airbnb" />
              </div>
              <div class="client-img">
                <img src="{% static 'images/partners/9.png' %}" alt="airbnb" />
              </div>
              <div class="client-img">
                <img src="{% static 'images/partners/10.png' %}" alt="airbnb" />
              </div>
              <div class="client-img">
                <img src="{% static 'images/partners/5.png' %}" alt="airbnb" />
              </div>

              <div class="client-img">
                <img src="{% static 'images/partners/7.png' %}" alt="airbnb" />
              </div>
              <div class="client-img">
                <img src="{% static 'images/partners/9.png' %}" alt="airbnb" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Client section end -->

{% endblock content %}