{% extends '../base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}

         <!-- Slider Section Start !-->
  <div class="hero-slider-style-one">
    <div class="slider-wrapper">
      <!-- single slider start -->
      <div class="single-slider">
        <div class="single-slider-inner">
          <div class="slider-text-wrapper"></div>
          <div class="slider-text-container">
            <div class="container h-100">
              <div class="row h-100 align-items-center justify-content-center justify-content-xl-start">
                <div class="col-11 col-md-9 col-xl-5">
                  <div class="hero-title">
                    <span class="slider-short-title">WE BELIEVE IN</span>
                    <h1 class="slider-title">
                      <span>INNOVATION</span>
                    </h1>
                    <p class="slider-short-desc">
                      We are ingenious in developing,identifying and deploying cutting-edge Architectural and Engineering solutions, methods, equipment and sustainable strategies in our projects.
                    </p>
                    <div class="btn-wrapper">
                      <a tabindex="0" href="#" class="theme-btn bg-transparent border border-white">
                        Learn More
                      </a>
                      <div class="video-btn">
                        <a href="#" class="mfp-iframe video-play">
                          <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-image">
            <img src="{% static 'images/sliders/amac-city-mall.jpg' %}" alt="image"/>
          </div>
        </div>
      </div>
      <!-- single slider end -->
      <!-- single slider start -->
      <div class="single-slider">
        <div class="single-slider-inner">
          <div class="slider-text-wrapper"></div>
          <div class="slider-text-container">
            <div class="container h-100">
              <div class="row h-100 align-items-center justify-content-center justify-content-xl-start">
                <div class="col-11 col-md-9 col-xl-5">
                  <div class="hero-title">
                    <span class="slider-short-title">WE BELIEVE IN</span>
                    <h1 class="slider-title">
                      <span>BALANCE</span>

                    </h1>
                    <p class="slider-short-desc">
                      Striking a balance in our project is important to us as we believe that monopoly or plurality of project features overshadows functionality and aesthetics of project. These are two fundamentals that are dear to our heart.
                    </p>
                    <div class="btn-wrapper">
                      <a tabindex="0" href="#" class="theme-btn bg-transparent border border-white">
                        Learn More
                      </a>
                      <div class="video-btn">
                        <a href="#" class="mfp-iframe video-play">
                          <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-image">
            <img src="{% static 'images/sliders/country-home.jpg' %}" alt="image"/>
          </div>
        </div>
      </div>
      <!-- single slider end -->
      <!-- single slider start -->
      <div class="single-slider">
        <div class="single-slider-inner">
          <div class="slider-text-wrapper"></div>
          <div class="slider-text-container">
            <div class="container h-100">
              <div class="row h-100 align-items-center justify-content-center justify-content-xl-start">
                <div class="col-11 col-md-9 col-xl-5">
                  <div class="hero-title">
                    <span class="slider-short-title">WE BELIEVE IN</span>
                    <h1 class="slider-title">
                      <span>CREATIVITY</span>
                    </h1>
                    <p class="slider-short-desc">
                      We strive to approach our projects from a ‘no holds barred’ point of view.That way, we are able to unleash our best potentials to the satisfaction of our esteemed Clients
                    </p>
                    <div class="btn-wrapper">
                      <a tabindex="0" href="#" class="theme-btn bg-transparent border border-white">
                        Learn More
                      </a>
                      <div class="video-btn">
                        <a href="#" class="mfp-iframe video-play">
                          <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-image">
            <img src="{% static 'images/sliders/detached-duplex.jpg' %}" alt="image"/>
          </div>
        </div>
      </div>
      <!-- single slider end -->


      <!-- single slider start -->
      <div class="single-slider">
        <div class="single-slider-inner">
          <div class="slider-text-wrapper"></div>
          <div class="slider-text-container">
            <div class="container h-100">
              <div class="row h-100 align-items-center justify-content-center justify-content-xl-start">
                <div class="col-11 col-md-9 col-xl-5">
                  <div class="hero-title">
                    <span class="slider-short-title">WE BELIEVE IN</span>
                    <h1 class="slider-title">
                      <span>DIVERSITY</span>
                    </h1>
                    <p class="slider-short-desc">
                      We understand the needs of Clients varies. Over the years,we have garnered expertise to be able to successfully deliver in all project types. Our passionate team of Professional workforce are poised to deliver always.
                    </p>
                    <div class="btn-wrapper">
                      <a tabindex="0" href="#" class="theme-btn bg-transparent border border-white">
                        Learn More
                      </a>
                      <div class="video-btn">
                        <a href="#" class="mfp-iframe video-play">
                          <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-image">
            <img src="{% static 'images/sliders/petrol-station.jpg' %}" alt="image"/>
          </div>
        </div>
      </div>
      <!-- single slider end -->


      <!-- single slider start -->
      <div class="single-slider">
        <div class="single-slider-inner">
          <div class="slider-text-wrapper"></div>
          <div class="slider-text-container">
            <div class="container h-100">
              <div class="row h-100 align-items-center justify-content-center justify-content-xl-start">
                <div class="col-11 col-md-9 col-xl-5">
                  <div class="hero-title">
                    <span class="slider-short-title">WE BELIEVE IN</span>
                    <h1 class="slider-title">
                      <span>EXCELLENCE</span>
                    </h1>
                    <p class="slider-short-desc">
                      We work hard to deliver quality projects to our Clients with the hope of exceeding their expectations.We seek new and innovative ways to continually improve and be the best.
                    </p>
                    <div class="btn-wrapper">
                      <a tabindex="0" href="#" class="theme-btn bg-transparent border border-white">
                        Learn More
                      </a>
                      <div class="video-btn">
                        <a href="#" class="mfp-iframe video-play">
                          <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-image">
            <img src="{% static 'images/sliders/purple-stone-mall.jpg' %}" alt="image"/>
          </div>
        </div>
      </div>
      <!-- single slider end -->

      <!-- single slider start -->
      <div class="single-slider">
        <div class="single-slider-inner">
          <div class="slider-text-wrapper"></div>
          <div class="slider-text-container">
            <div class="container h-100">
              <div class="row h-100 align-items-center justify-content-center justify-content-xl-start">
                <div class="col-11 col-md-9 col-xl-5">
                  <div class="hero-title">
                    <span class="slider-short-title">WE BELIEVE IN</span>
                    <h1 class="slider-title">
                      <span>INTEGRITY</span>
                    </h1>
                    <p class="slider-short-desc">
                      Conducting our business in accordance with the highest standards of professional best practices is top priority for us. We foster trust and transparency in our projects and activities
                    </p>
                    <div class="btn-wrapper">
                      <a tabindex="0" href="#" class="theme-btn bg-transparent border border-white">
                        Learn More
                      </a>
                      <div class="video-btn">
                        <a href="#" class="mfp-iframe video-play">
                          <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-image">
            <img src="{% static 'images/sliders/ST JOHN' %}'S CHURCH, NNOBI, ANAMBRA STATE..jpg" alt="image"/>
          </div>
        </div>
      </div>
      <!-- single slider end -->

      <!-- single slider start -->
      <div class="single-slider">
        <div class="single-slider-inner">
          <div class="slider-text-wrapper"></div>
          <div class="slider-text-container">
            <div class="container h-100">
              <div class="row h-100 align-items-center justify-content-center justify-content-xl-start">
                <div class="col-11 col-md-9 col-xl-5">
                  <div class="hero-title">
                    <span class="slider-short-title">WE BELIEVE IN</span>
                    <h1 class="slider-title">
                      <span>CONSISTENCY</span>
                    </h1>
                    <p class="slider-short-desc">
                      In all our projects, from single units to multifarious, we pay attention to details. We believe that Buildings and Engineering Structures should have distinct characters and features.
                    </p>
                    <div class="btn-wrapper">
                      <a tabindex="0" href="#" class="theme-btn bg-transparent border border-white">
                        Learn More
                      </a>
                      <div class="video-btn">
                        <a href="#" class="mfp-iframe video-play">
                          <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-image">
            <img src="{% static 'images/covers/kafe-market5.jpg' %}" alt="image"/>
          </div>
        </div>
      </div>
      <!-- single slider end -->

    </div>
  </div>
  <!-- Slider Section End !-->


  <!-- About-us section Start !-->
  <div class="about-us-area style-1 bg-white">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between">
        <div class="col-12">
          <div class="info-card-wrapper">
            <!-- image start -->
            <div class="image-wrapper style-two">
              <div class="main-img" style="background-image: url('images/about-us-main-2.png')"></div>
              <div class="topper-img">
                <img src="{% static 'images/covers/cp9.jpg' %}" alt="about" />
                <div class="video-btn">
                  <a href="#" class="mfp-iframe video-play">
                    <i class="fa-solid bi bi-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- image end -->
            <div class="content-wrapper">
              <div class="section-title">
                <span class="sub-title sub-title-style-two">Central Contractors Limited</span>
                <h1 class="title">
                 Think. Design. Build.
                </h1>
                <p class="title-desc">
                 Central Contractors Limited is a fully indigenous company incorporated in May 2009
                 and has since then been offering dedicated services in our core areas of business.
                </p>
              </div>
              <div class="list">
                <div class="row">
                  <div class="col-10 col-md-6">
                    <div class="item">
                      <span class="icon">
                        <i class="bi bi-check2" style="color: #4566d4"></i>
                      </span>
                      <span class="item-text">Engineering</span>
                    </div>
                  </div>
                  <div class="col-10 col-md-6">
                    <div class="item">
                      <span class="icon">
                        <i class="bi bi-check2" style="color: #4566d4"></i>
                      </span>
                      <span class="item-text">Construction</span>
                    </div>
                  </div>
                  <div class="col-10 col-md-6">
                    <div class="item">
                      <span class="icon">
                        <i class="bi bi-check2" style="color: #4566d4"></i>
                      </span>
                      <span class="item-text">Project Management</span>
                    </div>
                  </div>
                  <div class="col-10 col-md-6">
                    <div class="item">
                      <span class="icon">
                        <i class="bi bi-check2" style="color: #4566d4"></i>
                      </span>
                      <span class="item-text">And General Contracts</span>
                    </div>
                  </div>
                </div>
                <div class="about-btn">
                  <a href="{% url 'about' %}" tabindex="0" class="theme-btn">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About-us section End !-->
  <!-- counter start -->
  <div class="counter-wrapper bg-white">
    <div class="container">
      <div class="counter-main">
        <div class="counter-item">
          <h1 class="number">
            <span class="counter">30</span> <span>+</span>
          </h1>
          <p class="title">Happy Clients</p>
          <div class="divider"></div>
        </div>
        <div class="counter-item">
          <h1 class="number">
            <span class="counter">50</span> <span>+</span>
          </h1>
          <p class="title">Project Done</p>
          <div class="divider"></div>
        </div>
        <div class="counter-item">
          <h1 class="number">
            <span class="counter">10</span> <span>+</span>
          </h1>
          <p class="title">Billion Invested</p>
          <div class="divider"></div>
        </div>
        <div class="counter-item">
          <h1 class="number">
            <span class="counter">12</span> <span></span>
          </h1>
          <p class="title">Years Experience</p>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- counter end -->
  <!-- Service section Start !-->
  <div class="service-area style-1 background-gray">
    <div class="service-bg">
      <img src="{% static 'images/service-bg.png' %}" alt="service" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- service section title start -->
          <div class="section-title">
            <div class="row">
              <div class="col-12 col-lg-8 offset-lg-2">
                <div class="section-title style-two">
                  <p class="sub-title">OUR USP</p>
                  <h1 class="title text-center">
                  Why Choose Us <br/>
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <!--service  section title end -->
          <!-- service card start -->
          <div class="row mt-25 gy-4">
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="info-card style-two">
                <div class="icon"><i class="bi bi-pencil"></i></div>
                <div class="content">
                  <h3 class="title">Our Ideas</h3>
                  <p class="text">
                    Building with a conscious effort to minimize environmental impact and promote eco-friendly practices.
                  </p>
                  <div class="read-more">
                    <a href="{% url 'about' %}">Learn More <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
              <div class="info-card style-two">
                <div class="icon"><i class="bi bi-stack"></i></div>
                <div class="content">
                  <h3 class="title">Proven Track Record</h3>
                  <p class="text">
                    Striving for perfection in every project, ensuring our services always align with global benchmarks and practices.
                  </p>
                  <div class="read-more">
                    <a href="{% url 'about' %}">Learn More <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="info-card style-two">
                <div class="icon"><i class="bi bi-cup-hot"></i></div>
                <div class="content">
                  <h3 class="title">Our People</h3>
                  <p class="text">
                    We believe in the strength of collective expertise, fostering a culture of teamwork and partnerships.
                  </p>
                  <div class="read-more">
                    <a href="{% url 'about' %}">Learn More <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- service card end -->

          <div class="mt-30 text-center">
            <a href="{% url 'services' %}" tabindex="0" class="theme-btn">View All Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service section End !-->

  <!-- Process section Start !-->
  <div class="process-area style-1 bg-white">
    <div class="container">
      <!-- process section title start -->
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
          <div class="section-title">
            <p class="sub-title">Our Advantage</p>
            <h1 class="title text-center">
              We Take Care Of everything For You!
            </h1>
          </div>
        </div>
      </div>
      <!-- process section title end -->
      <div class="main-wrapper">
        <!-- wave image -->
        <div class="wave-img-wrapper">
          <img src="{% static 'images/process-wave.svg' %}" alt="process" />
        </div>
        <!-- process step start -->
        <div class="row justify-content-center justify-content-lg-start">
          <!-- single step -->
          <div class="col-11 col-md-6 col-lg-4">
            <div class="process-step">
              <div class="step-icon">
                <img src="{% static 'images/ear.png' %}" alt="speaker" />
                <div class="count"><span>01</span></div>
              </div>
              <div class="step-text">
                <h1 class="title">Listen & Strategize</h1>
                <p class="desc">
                  Our clients stand at the heart of everything we do.
                </p>
              </div>
            </div>
          </div>
          <!-- single step -->
          <div class="col-11 col-md-6 col-lg-4 mt-4 mt-md-0">
            <div class="process-step">
              <div class="step-icon">
                <img src="{% static 'images/project.png' %}" alt="webdevelopment" />
                <div class="count"><span>02</span></div>
              </div>
              <div class="step-text">
                <h1 class="title">Project Work</h1>
                <p class="desc">
                  To commit ourselves to the pursuit of architectural and construction excellence.
                </p>
              </div>
            </div>
          </div>
          <!-- single step -->

          <div class="col-11 col-md-6 col-lg-4 mt-4 mt-lg-0">
            <div class="process-step">
              <div class="step-icon">
                <img src="{% static 'images/launch.png' %}" alt="mobile-development" />
                <div class="count"><span>03</span></div>
              </div>
              <div class="step-text">
                <h1 class="title">Launch</h1>
                <p class="desc">
                  Deliver innovative, value-added Services in construction.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- process step end -->
        <div class="contact-button">
          <a href="{% url 'contact' %}" class="theme-btn">Meet With Us</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Process section End !-->

  <!-- Portfolio section Start !-->
  <div class="portfolio-area style-1 bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
          <div class="section-title">
            <p class="sub-title">Our project</p>
            <h1 class="title text-center mt-8">Some Of Our Work</h1>
          </div>
        </div>
      </div>
      <div class="mt-50">
        <div class="row">
          <!-- Portfolio Style Two Start !-->
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="portfolio-style-two">
              <div class="image">
                <img src="{% static 'images/covers/5A_5 - Photo.jpg' %}" alt="portfolio one" />
                <div class="content-wrapper">
                  <div class="content">
                    <div class="content-inner">
                      <h3 class="title">Mini Estate</h3>
                      <span class="text">Abuja</span>
                    </div>
                    <div class="btn">
                      <a href="#"><i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Portfolio Style Two End !-->
          <!-- Portfolio Style Two Start !-->
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="portfolio-style-two">
              <div class="image">
                <img src="{% static 'images/covers/aedc1.jpg' %}" alt="portfolio Two" />
                <div class="content-wrapper">
                  <div class="content">
                    <div class="content-inner">
                      <h3 class="title">AEDC</h3>
                      <span class="text">Abuja</span>
                    </div>
                    <div class="btn">
                      <a href="#"><i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Portfolio Style Two End !-->
          <!-- Portfolio Style Two Start !-->
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="portfolio-style-two">
              <div class="image">
                <img src="{% static 'images/covers/bristol-hotel-kaduna5.jpg' %}" alt="portfolio three" />
                <div class="content-wrapper">
                  <div class="content">
                    <div class="content-inner">
                      <h3 class="title">Bristol Hotel</h3>
                      <span class="text">Kaduna</span>
                    </div>
                    <div class="btn">
                      <a href="#"><i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Portfolio Style Two End !-->
          <!-- Portfolio Style Two Start !-->
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="portfolio-style-two">
              <div class="image">
                <img src="{% static 'images/covers/duplex-gwarinpa.jpg' %}" alt="portfolio four" />
                <div class="content-wrapper">
                  <div class="content">
                    <div class="content-inner">
                      <h3 class="title">Jikwoyi Market</h3>
                      <span class="text">Abuja</span>
                    </div>
                    <div class="btn">
                      <a href="#"><i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Portfolio Style Two End !-->
          <!-- Portfolio Style Two Start !-->
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="portfolio-style-two">
              <div class="image">
                <img src="{% static 'images/covers/duplex-guzape.jpg' %}" alt="portfolio five" />
                <div class="content-wrapper">
                  <div class="content">
                    <div class="content-inner">
                      <h3 class="title">Duplex, Guzape</h3>
                      <span class="text">Abuja</span>
                    </div>
                    <div class="btn">
                      <a href="#"><i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Portfolio Style Two End !-->
          <!-- Portfolio Style Two Start !-->
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="portfolio-style-two">
              <div class="image">
                <img src="{% static 'images/covers/purple.jpg' %}" alt="portfolio six" />
                <div class="content-wrapper">
                  <div class="content">
                    <div class="content-inner">
                      <h3 class="title">Purple Mall</h3>
                      <span class="text">Abuja</span>
                    </div>
                    <div class="btn">
                      <a href="#"><i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Portfolio Style Two End !-->
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio section End !-->


  <!-- Testimonial section Start !-->
  <div class="testimonial-slider-area style-1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <div class="section-title text-center">
            <span class="sub-title">Testimonial</span>
            <h1 class="title">
            What They Think Of Us
            </h1>
            <p class="title-desc">
            </p>
          </div>
        </div>
      </div>
      <div class="mt-50">
        <div class="testimonial-slider">
          <!-- single slider start -->
          <div class="single-testimonial">
            <div class="testimonial-inner">
              <div class="testimonial-content">

                <div class="">
                  <p class="slider-short-desc">
                    Working with CCL was a transformative experience. Their architectural ingenuity combined with their impeccable client service ensured our project not only met, but exceeded all expectations. I'm genuinely impressed with the value they added to our property.
                  </p>
                </div>
              </div>
              <div class="user-meta">

                <div class="user-info">
                  <h3>Musa Ibrahim</h3>
                  <h6>Businessman</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- single slider end -->
          <!-- single slider start -->

          <div class="single-testimonial">
            <div class="testimonial-inner">
              <div class="testimonial-content">

                <div class="">
                  <p class="slider-short-desc">
                    From the very first consultation, I felt my dream home was in trusted hands with CCL. The final result was a harmonious blend of innovation and practicality, reflecting everything I'd envisioned and more. Their commitment to excellence is evident in every corner of my home.
                  </p>
                </div>
              </div>
              <div class="user-meta">

                <div class="user-info">
                  <h3>Mrs Ayodeji</h3>
                  <h6>Investor</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- single slider end -->
          <!-- single slider start -->

          <div class="single-testimonial">
            <div class="testimonial-inner">
              <div class="testimonial-content">

                <div class="">
                  <p class="slider-short-desc">
                    In the realm of architectural consultancy, CCL stands out as a beacon of professionalism and innovation. Their holistic approach to design, combined with a deep understanding of the industry's nuances, made our collaboration an absolute success. We look forward to many more projects together.
                  </p>
                </div>
              </div>
              <div class="user-meta">

                <div class="user-info">
                  <h3>John King</h3>
                  <h6>Enterpreneur</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- single slider start -->
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial section End !-->

    <!-- Client section start -->
    <div class="brand-slider-area style-1 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="client-slider-wrapper">
              <div class="client-img">
                <img src="{% static 'images/partners/3.png' %}" alt="airbnb" />
              </div>
              <div class="client-img">
                <img src="{% static 'images/partners/9.png' %}" alt="airbnb" />
              </div>
              <div class="client-img">
                <img src="{% static 'images/partners/10.png' %}" alt="airbnb" />
              </div>
              <div class="client-img">
                <img src="{% static 'images/partners/5.png' %}" alt="airbnb" />
              </div>

              <div class="client-img">
                <img src="{% static 'images/partners/7.png' %}" alt="airbnb" />
              </div>
              <div class="client-img">
                <img src="{% static 'images/partners/9.png' %}" alt="airbnb" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Client section end -->

{% endblock content %}