{% extends '../base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}

       <!-- Page Header Start !-->
    <div
      class="page-breadcrumb-sec page-bg"
      style="background-image: url({% static 'images/covers/bristol-hotel-kaduna5.jpg' %})"
    >
      <div class="page-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <div class="breadcrumb-list">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li class="active"><a href="#">service</a></li>
                </ul>
              </div>
              <div class="page-heading">
                <h1>our services</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End !-->

    <!-- Service section Start !-->
    <div class="service-area style-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="section-title">
              <h3 class="sub-title">CENTRAL CONTRACTORS LTD</h3>
              <h1 class="title text-center">
               Beyond Structures – We Build Dreams, <br/>  Value, and the Future.
              </h1>
            </div>
          </div>
        </div>
        <!-- info-card wrapper start -->
        <div class="row gy-4 mt-25">
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="info-card">
              <div class="icon"><i class="bi bi-building"></i></div>
              <div class="content">
                <h3 class="title">Architecture and Building</h3>
                <p class="text">
                  We undertake CONSTRUCTION, renovation, remodeling, landscapeing, costing, and supervision of all categories of building ranging from small bungalows to high-rise multi-storey structures and also ranging from residential to official; industrial, recreational, institutional and commercial buildings.
                </p>
                <div class="read-more">
                  <a href="#">Learn More <i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <div class="info-card">
              <div class="icon"><i class="bi bi-bricks"></i></div>
              <div class="content">
                <h3 class="title">Infrastructure, Roads and Canals</h3>
                <p class="text">
                  Our scope of work here includes costing, construction and supervision of such facilities as car parks, pavements, kerbs, hard standing yards,gutters and drains, Roads; access roads, intra city roads and urban highways, interchanges, intercity highways and expressways.
                </p>
                <div class="read-more">
                  <a href="#">Learn More <i class="fa bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="info-card">
              <div class="icon"><i class="bi bi-droplet-half"></i></div>
              <div class="content">
                <h3 class="title">Water Reticulation, Supply & Treatment</h3>
                <p class="text">
                 Borehole geophysical survey, Borehole drilling.
                </p>
                <p class="text">
                 Installation of submersible pum including starter panel and Accessories.
                </p>
                <p class="text">
                 Construction if elevated reinforced  concrete or steel water tanks including erection of supporting towers
                </p>
                <div class="read-more">
                  <a href="#">Learn More <i class="fa bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="info-card">
              <div class="icon"><i class="bi bi-building-fill"></i></div>
              <div class="content">
                <h3 class="title">Concrete Elements</h3>
                <p class="text">
                  We undertakeindustrial production and sales of vibrated stone dust blocks, interlocking stones, kerbs and various concrete elements according to their respective specification
                </p>
                <div class="read-more">
                  <a href="#">Learn More <i class="fa bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="info-card">
              <div class="icon"><i class="bi bi-cone-striped"></i></div>
              <div class="content">
                <h3 class="title">General Contracts</h3>
                <p class="text">
                 Scope of General Contracts include BuildingService needs, while Supplies includes general procuement needs for Building Projects, Information Technology to Everyday Items.
                </p>
                <div class="read-more">
                  <a href="#">Learn More <i class="fa bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="info-card">
              <div class="icon"><i class="bi bi-person-gear"></i></div>
              <div class="content">
                <h3 class="title">Supplies</h3>
                <p class="text">
                   Scope of General Contracts include BuildingService needs, while Supplies includes general procuement needs for Building Projects, Information Technology to Everyday Items.
                </p>
                <div class="read-more">
                  <a href="#">Learn More <i class="fa bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- info-card wrapper start -->
      </div>
    </div>


   <!-- Process section Start !-->
  <div class="process-area style-1 bg-white">
    <div class="container">
      <!-- process section title start -->
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
          <div class="section-title">
            <p class="sub-title">Our Advantage</p>
            <h1 class="title text-center">
              We Take Care Of everything For You!
            </h1>
          </div>
        </div>
      </div>
      <!-- process section title end -->
      <div class="main-wrapper">
        <!-- wave image -->
        <div class="wave-img-wrapper">
          <img src="{% static 'images/process-wave.svg' %}" alt="process" />
        </div>
        <!-- process step start -->
        <div class="row justify-content-center justify-content-lg-start">
          <!-- single step -->
          <div class="col-11 col-md-6 col-lg-4">
            <div class="process-step">
              <div class="step-icon">
                <img src="{% static 'images/ear.png' %}" alt="speaker" />
                <div class="count"><span>01</span></div>
              </div>
              <div class="step-text">
                <h1 class="title">Listen & Strategize</h1>
                <p class="desc">
                  Our clients stand at the heart of everything we do.
                </p>
              </div>
            </div>
          </div>
          <!-- single step -->
          <div class="col-11 col-md-6 col-lg-4 mt-4 mt-md-0">
            <div class="process-step">
              <div class="step-icon">
                <img src="{% static 'images/project.png' %}" alt="webdevelopment" />
                <div class="count"><span>02</span></div>
              </div>
              <div class="step-text">
                <h1 class="title">Project Work</h1>
                <p class="desc">
                  To commit ourselves to the pursuit of architectural and construction excellence.
                </p>
              </div>
            </div>
          </div>
          <!-- single step -->

          <div class="col-11 col-md-6 col-lg-4 mt-4 mt-lg-0">
            <div class="process-step">
              <div class="step-icon">
                <img src="{% static 'images/launch.png' %}" alt="mobile-development" />
                <div class="count"><span>03</span></div>
              </div>
              <div class="step-text">
                <h1 class="title">Launch</h1>
                <p class="desc">
                  Deliver innovative, value-added Services in construction.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- process step end -->
        <div class="contact-button">
          <a href="#" class="theme-btn">Meet With Us</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Process section End !-->




{% endblock content %}
